{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<h2><strong>Вход в аккаунт</strong></h2>
<div style="width: 350px; margin-top: 30px;">
    <form>
        <div class="mb-3">
            <!-- <label for="InputEmail" class="form-label">Email</label>
            <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                class="form-control" id="InputEmail" name="InputEmail" placeholder="user@gmail.com"
                maxlength="50" required> -->
            <label for="InputEmail" class="form-label">Email</label>
            <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                   class="form-control is-invalid" id="InputEmail" placeholder="user@gmail.com"
                   name="InputEmail" maxlength="50" required>
            <div class="invalid-feedback">
                Ошибка ввода
            </div>
        </div>
        <div class="mb-3">
            <!-- <label for="InputPassword" class="form-label">Пароль</label>
            <input type="password" class="form-control" id="InputPassword" name="InputPassword"
                maxlength="50" required> -->
            <label for="InputPassword" class="form-label">Пароль</label>
            <input type="password" pattern="^[a-zA-Z0-9]{8,}" class="form-control"
                   name="InputPassword" id="InputPassword" maxlength="50" required>
            <!-- <div class="invalid-feedback">
                Ошибка ввода
            </div> -->
        </div>
        <!-- <button type="submit" onclick="document.getElementById('TmpError').style.display = 'block'"
            class="btn btn-primary">Войти</button>
         <div id="TmpError" style="display:none; color: red;"> Ошибка при вводе данных </div>  -->
        <!-- ПРОСТО ПРИМЕР, КАК ПО НАЖАТИИ КНОПКИ ВЫХОДИТ ОШИБКА.-->
        <button type="submit" class="btn btn-primary">Войти</button>
        <!-- <div style="color: red;"> Ошибка при вводе данных </div> -->
    </form>
</div>
{% endblock %}

{% block main_css_file %}
<link rel="stylesheet" href="{% static '/login.css' %}">
{% endblock %}

{% block navbar%}
<div class="col-4 my-avatar">
    <img src="{% static '/no_login.png' %}" height="50px" width="50px"
         style="border: 1px solid black; object-fit: cover;">
</div>
<div class="col-8">
    <div class="row my-name" style="visibility: hidden;">
        <p> Kurisu </p>
    </div>
    <div class="row my-settings-log-reg">
        <div class="col-6">
            <!-- <a class="my-link-settings" href="#">Регистрация</a> -->
            <form action="{% url 'signup' %}">
                <button type="submit"
                        class="btn btn-outline-light my-btn-settings">Регистрация
                </button>
            </form>
        </div>
        <div class="col-6">
            <!--<a class="my-link-log" href="#">Вход</a> -->
            <form action="{% url 'login' %}">
                <button type="submit" class="btn btn-outline-light my-btn-log">Войти</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block title %} Вход в аккаунт {% endblock %}