{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<h2><strong>Вход в аккаунт</strong></h2>
<div style="width: 350px; margin-top: 30px;">
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="mb-3">
            <div style = "padding-top: 1%" > {{ field.label }} </div>
            <div class = "col fieldWrapper" style = "width: 300px;">
                {{ field }}
                <div style = "padding-top: 1%; color: red">
                    {{ error }}
                </div>
            </div>
        </div>
        {% endfor %}
        <div style = "color: red">
            {{ form.non_field_errors }}
        </div>
        <button type="submit" class="btn btn-primary">Войти</button>
    </form>
    <div class = "row" style = "padding-top: 5%">
        <a href = "{% url 'signup' %}">
            Еще нет аккаунта? Зарегистрируйтесь!
        </a>
    </div>
</div>
{% endblock %}

{% block main_css_file %}
<link rel="stylesheet" href="{% static '/login.css' %}">
{% endblock %}


{% block title %} Вход в аккаунт {% endblock %}