{% extends 'layouts/base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<h2><strong>{% trans "Настройки аккаунта" %}</strong></h2>
<div style="width: 350px; margin-top: 30px;">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="row mb-3">
            <div class="col-sm-3 col-form-label"> {{ field.label }} </div>
            <div class = "col-sm-9" style = "width: 375px;">
                {{ field }}
                <div style = "padding-top: 1%; color: red">
                    {{ error }}
                </div>
            </div>
        </div>
        {% endfor %}
        <div style = "color: red">
            {{ form.non_field_errors }}
        </div>
        <div class = "row mb-3" style = "padding-top: 1%; padding-left: 28%">
            <button type="submit" class="btn btn-primary" style = "width: 200px;">{% trans "Сохранить" %}</button>
        </div>
    </form>
    {% if messages %}
    <div class="row" style="color: darkgreen; font-size: 20px; padding-left: 10%">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
{% block main_css_file %}
<link rel="stylesheet" href="{% static '/settings.css' %}">
{% endblock %}
{% block title %}  {% trans "Настройки" %}{% endblock %}